$primary-color: #a5d9c8;
$primary-color-dark: #83b8a7;
$primary-color-light: #e9f5f1;
$secondary-color: #f6f0c6;
$text-color-dark: #020056;
$shadow-color: rgba(0, 0, 0, 0.1);
$border-radius: 10px;

.title {
  font-weight: 700;
  font-size: 2rem;
}

.bold {
  font-weight: 800;
}

.text-small {
  font-size: 0.8rem;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 15px;
  background: $primary-color-light;
  border-radius: 16px;
}

input[type='range']::-moz-range-track {
  height: 15px;
  background: $primary-color-light;
  border-radius: 16px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid $primary-color;
  box-shadow: -407px 0 0 400px $primary-color;
}

input[type='range']::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid $primary-color;
  box-shadow: -407px 0 0 400px $primary-color;
}

input[type='text'] {
  border: 1px solid $primary-color;
  border-radius: $border-radius;
  padding: 0.5rem;
  font-size: 1rem;
  color: $text-color-dark;
  background-color: #fff;

  &:focus {
    outline: none;
    border: 1px solid $primary-color-dark;
    box-shadow: 0px 2px 4px $shadow-color;
  }
  &:disabled {
    background-color: lightgrey;
    border: 1px solid grey;
  }
}

input[type='checkbox'] {
  accent-color: $primary-color;
  width: 20px;
}

button {
  background-color: $primary-color;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  &:hover {
    background: $primary-color-dark;
    box-shadow: 0 0 5px $shadow-color;
  }
  &:disabled {
    background-color: grey;
    cursor: not-allowed;
    &:hover {
      background: grey;
      box-shadow: none;
    }
  }
}
