$primary-color: #a5d9c8;
$primary-color-light: #e9f5f1;
$secondary-color: #f6f0c6;
$text-color-dark: #020056;
$shadow-color: rgba(0, 0, 0, 0.1);
$border-radius: 10px;

.title {
  font-weight: 700;
  font-size: 2rem;
}

.bold {
  font-weight: 800;
}

.text-small {
  font-size: 0.8rem;
}
